---
export interface Props {
  title: string;
}

const {title} = Astro.props;
---

<article>
    <header>
        <h1>{title}</h1>
    </header>
    <main>
        <slot />
    </main>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</article>

<style lang="scss">
    article {
        cursor: default;
        border-radius: 0.5rem;
        
        main {
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
    }

    @media (prefers-color-scheme: dark) {
        article {
            border-color: var(----cultured);
        }
    }
</style>

<!-- Global style is needed so that the "dynamic" tags coming from markdown get affected -->
<style lang="scss" global>
    p {
        line-height: 1.5em;
        text-align: justify;

        &:not(:first-child) {
            margin-top: 0.5rem;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        text-transform: capitalize;

        &:not(:first-child) {
            margin-top: 2rem;
        }
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2.0rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    ol, ul {
        list-style: decimal;
        list-style-position: inside;

        &:not(:first-child) {
            margin-top: 1rem;
        }

        li {
            line-height: 1.5em;
        }
    }
</style>
